

@media screen and (max-width: 999px) {
   .p_mobile {
  	margin: 0;
  	white-space: pre;
}

.logo_mobile{
    white-space: pre-wrap;
    position: relative;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.andrea-borsato_mobile {
  	position: relative;
  	top: 24px;
  	left: calc(50% - 195px);
  	font-size: 8.29px;
}
.communication-designer_mobile {
  	margin: 0;
}
.communication-designer-container_mobile {
  	position: relative;
  	margin-top: 5vh;
  	left: calc(50% - 174px);
}
.my-portfolio-container_mobile {
  	position: relative;
  	/* top: 136px; */
  	/* left: calc(50% - 156px); */
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}
.about-me-_mobile {
  	position: relative;
  	margin-top: 40px;
    margin-left: 6vw;
  	display: inline-block;
  	width: 100vw;
    white-space: nowrap;
}
.hello-world-container_mobile {
  	position: relative;
  	margin-top: 5vh;
  	margin-left: 6vw;
  	display: inline-block;
  	width: 80vw;
}
.div_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;

}
.div1_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;


}
.div2_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;


}
.education_mobile {
  	position: relative;
  	margin-top: 48px;
  	margin-left: 6vw;
}
.high-school-diploma-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.msc-in-digital-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.bachelor-degree-in-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.jan-2023_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;
}
.jan-2024_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;
}
.work-experiences_mobile {
  	position: relative;
  	margin-top: 48px;
  	margin-left: 6vw;
}
.web-developer-x-interdependenc-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.exhibition-design-x-anthropoge-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.web-content-editor-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.brand-ambassador-x-save-container_mobile {
  	position: relative;
  	margin-top: 8px;
    margin-left: 6vw;
    white-space: nowrap;
}
.div3_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;
}
.div4_mobile {
  	position: relative;
  	margin-top: 16px;
  	margin-left: 6vw;
}
.andrea-borsato1_mobile {
  	position: relative;
  	top: 0px;
  	left: calc(50% - 159.5px);
}
.andrea-borsato2_mobile {
  	position: relative;
  	top: 77px;
  	left: calc(50% - 159.5px);
}
.andrea-borsato-group {
  	position: relative;
  	top: 1778px;
  	left: calc(50% - 159px);
  	width: 319px;
  	height: 173px;
  	font-size: 13.91px;
}
.cut-here-_mobile {
  	position: relative;
  	top: 1746px;
  	left: 0px;
}
.andreborsato16gmailcom-container_mobile {
  	position: relative;
  	top: 1983px;
  	left: calc(50% - 137px);
}
.andrea-borsato-parent_mobile {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 2168px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 12px;
  	color: #000;
  	font-family: Menlo, monospace;
} 
}








@media screen and (min-width: 1000px) {
   .p_mobile {
  	display: none;
}
.andrea-borsato_mobile {
  	display: none;
}
.communication-designer_mobile {
  	display: none;
}
.communication-designer-container_mobile {
  	display: none;
}
.my-portfolio-container_mobile {
  	display: none;
}
.about-me-_mobile {
  	display: none;
}
.hello-world-container_mobile {
  	display: none;
}
.div_mobile {
  	display: none;
}
.div1_mobile {
  	display: none;
}
.div2_mobile {
  	display: none;
}
.education_mobile {
  	display: none;
}
.high-school-diploma-container_mobile {
  	display: none;
}
.msc-in-digital-container_mobile {
  	display: none;
}
.bachelor-degree-in-container_mobile {
  	display: none;
}
.jan-2023_mobile {
  	display: none;
}
.jan-2024_mobile {
  	display: none;
}
.work-experiences_mobile {
  	display: none;
}
.web-developer-x-interdependenc-container_mobile {
  	display: none;
}
.exhibition-design-x-anthropoge-container_mobile {
  	display: none;
}
.web-content-editor-container_mobile {
  	display: none;
}
.brand-ambassador-x-save-container_mobile {
  	display: none;
}
.div3_mobile {
  	display: none;
}
.div4_mobile {
  	display: none;
}
.andrea-borsato1_mobile {
  	display: none;
}
.andrea-borsato2_mobile {
  display: none;
}
.andrea-borsato-group {
  	display: none;
}
.cut-here-_mobile {
  	display: none;
}
.andreborsato16gmailcom-container_mobile {
  	display: none;
}
.andrea-borsato-parent_mobile {
  	display: none;
} 
}


