.p {
  	margin: 0;
  	white-space: pre-wrap;
}
.andrea-borsato {
  	position: absolute;
  	top: 6px;
  	left: calc(50% - 319px);
  	font-size: 13.91px;
}
.andrea-borsato1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 159.5px);
}
.andrea-borsato2 {
  	position: absolute;
  	top: 77px;
  	left: calc(50% - 159.5px);
}
.andrea-borsato-parent {
  	position: absolute;
  	top: 1693px;
  	margin-left: 110px;
  	width: 319px;
  	height: 173px;
  	font-size: 13.91px;
}
.left-margin {
  	margin: 0;
}
.left-margin-container {
  	position: absolute;
  	top: 155px;
  	left: calc(30% - 589px);
}
.navbar {
  	margin: 0;
}
.navbar-container {
  	position: absolute;
  	top: 155px;
  	left: calc(50% - 589px);
}
.communication-designer {
  	position: absolute;
  	top: 118px;
  	left: calc(50% - 357px);
}
.about-me- {
  	position: absolute;
  	top: 262px;
  	left: 10px;
  	display: inline-block;
  	width: 1900px;
}
.cut-here- {
  	position: absolute;
  	top: 1604px;
  	left: 10px;
}
.hello-world-container {
  	position: absolute;
  	top: 311px;
  	left: 50px;
  	display: inline-block;
  	width: 795px;
}
.div {
  	position: absolute;
  	top: 1617px;
  	left: 550px;
}
.div1 {
  	position: absolute;
  	top: 627px;
  	left: calc(800px - 109px);
}
.jan-2023-container {
  	position: absolute;
  	top: 938px;
  	left: calc(1240px - 109px);
}
.education {
  	position: absolute;
  	top: 584px;
  	left: 50px;
}
.work-experiences {
  	position: absolute;
  	top: 895px;
  	left: 50px;
}
.high-school-diploma-container {
  	position: absolute;
  	top: 627px;
  	left: 50px;
}
.brand-ambassador-x-save-container {
  	position: absolute;
  	top: 938px;
  	left: 50px;
}
.div2 {
  	position: absolute;
  	top: 646px;
  	left: calc(574px - 109px);
}
.div3 {
  	position: absolute;
  	top: 722px;
  	left: calc(574px - 109px);
}
.div4 {
  	position: absolute;
  	top: 798px;
  	left: calc(574px - 109px);
}
.div5 {
  	position: absolute;
  	top: 957px;
  	left: calc(1008px - 109px);
}
.div6 {
  	position: absolute;
  	top: 1029px;
  	left: calc(1008px - 109px);
}
.div7 {
  	position: absolute;
  	top: 1105px;
  	left: calc(1008px - 109px);
}
.div8 {
  	position: absolute;
  	top: 1181px;
  	left: calc(1008px - 109px);
}
.andreborsato16gmailcom-container {
  	position: absolute;
  	top: 1884px;
  	left: 96px;
}
.slide-169-1 {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 2168px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: #000;
  	font-family: Menlo;
}

